<% if current_user %>
  <li>
  	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
  <li><a href="/searches">Search</a></li>
	<% if can? :read, @users %>
	  <li><a href="/users">Users</a></li>
	<% end %>
<% end %>