<ul>
	<% result["flickr"][:items].each do |r| %>
		<li>
			<a href="<%= r.url %>" target="_blank">
			<div class="flickr-image">
				<img src=<%= r.content %> class="flickr-image" align="center" />
				<div class="flickr-content" style="display:none;">
					<span class="title"><%= r.title %></span>
					<p><%= r.description %></p>
				</div>
			</div>
			</a>
		</li>
	<% end %>
	<% if result[:items].length == 0 %>
		<li>No results</li>
	<% end %>
</ul>
