<ul>
	<% result.each do |r| %>
		<li>
			<a href="<%= r[:url].first['_content'] %>" target="_blank">
			<div class="flickr-image">
				<% if r[:type] == 'photo' %>
					<img src=<%= r[:image_url] %> class="flickr-image" align="center" /> 
				<% end %>

				<div class="flickr-content" style="display:none;">
					<span class="title"><%= r[:title] %></span>
					<p><%= r[:description] %></p>
				</div>
			</div>
			</a>
		</li>
	<% end %>
</ul>