<ul>
	<% result["instagram"][:items].each do |r| %>
		<li>
			<a href="<%= r.url %>" target="_blank">
				<% if r.type == "media" %>
					<div class="flickr-image">
						<img src=<%= r.images.low_resolution.url %> class="flickr-image" align="center" />
						<div class="flickr-content" style="display:none;">
							<span class="title"><%= r.title %></span>
							<p><%= r.content %></p>
						</div>
					</div>
				<% end %>
			</a>
		</li>
	<% end %>
	<% if result[:items].length == 0 %>
		<li>No results</li>
	<% end %>
</ul>
