<ul>
  <% result[:items].each do |r| %>
    <li>
      <a href="<%= r.url %>" target="_blank">
      <div class="tumblr-image">
        <% if r.thumbnail %><img src=<%= r.thumbnail %> class="tumblr-image" align="center" /><% end %>
        <div class="tumblr-content" style="display:none;">
          <span class="title"><%= r.caption %></span>
        </div>
      </div>
      </a>
    </li>
  <% end %>
</ul>