FLICKR_API_KEY: 'put your flickr api key here'
FLICKR_SHARED_SECRET: 'put your flickr shared secret here'

TWITTER_CONSUMER_KEY: 'put your twitter consumer key here'
TWITTER_CONSUMER_SECRET: 'put your twitter consumer secret here'
TWITTER_BEARER_TOKEN: 'put your twitter bearer token here'

TUMBLR_CONSUMER_KEY: 'tumblr consumer key here'
TUMBLR_SECRET_KEY: 'tumblr secret key here'
