<% content_for :main do %>
	<div class="hero-unit">
	  <h1>Welcome!</h1>
	  <p>Wait are you waiting for? Start searching!</p>
	  <p>
	    <a class="btn btn-primary btn-large">
	      Search!
	    </a>
	  </p>
	</div>
<% end %>