<% content_for :main do %>
	<div class="hero-unit">
	  <h1>Welcome traveler!</h1>
	  <p>What are you waiting for? Start searching!</p>
	  	<div class="input-append">
		  <input class="span6" id="mainSearch" type="text">
		  <button class="btn" type="submit" onclick="search()">Search!</button>
		  <button class="btn" type="button" onclick="js:$('#searchOptions').toggle()">Options</button>
		</div>

		<div id="searchOptions" style="display:none;">
			<label class="checkbox">
			  <input type="checkbox" value="" name="flickr" checked>
			  Flickr
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="twitter" checked>
			  Twitter
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="youtube" checked>
			  YouTube
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="googleplus" checked>
			  Google+
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="facebook" checked>
			  Facebook
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="instagram" checked>
			  Instagram
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="tumblr" checked>
			  Tumblr
			</label>
		</div>
	</div>

	<%= button_tag "Previous", class: "previousLink", onclick: "showPrevious()", style: "display:none;" %>
	<%= button_tag "Next", class: "nextLink", onclick: "showNext()", style: "display:none;" %>

	<div id="searchResults">
		<div id="flickr" class="searchResultList" style="display:none;">
			<img src="/assets/flickr-logo.png" class="logoResults" />
			<div class="loader">Loading...</div>

			<hr />

			<div class="flickr-results searchData">
			</div>
		</div>
		<div id="twitter" class="searchResultList" style="display:none;">
			<div class="loader">Loading...</div>
			<img src="/assets/twitter-logo.png" class="logoResults" />

			<hr />

			<div class="twitter-results searchData">
			</div>
		</div>
		
		<div id="youtube" class="searchResultList" style="display:none;">
			<div class="loader">Loading...</div>
			<img src="/assets/youtube-logo.png" class="logoResults" />

			<hr />

			<div class="youtube-results searchData">
			</div>
		</div>
		<div id="googleplus" class="searchResultList" style="display:none;">
			<div class="loader">Loading...</div>
			<img src="/assets/youtube-logo.png" class="logoResults" />

			<hr />

			<div class="googleplus-results searchData">
			</div>
		</div>
		<div id="facebook" class="searchResultList" style="display:none;">
			<div class="loader">Loading...</div>
			<img src="/assets/flickr-logo.png" class="logoResults" />

			<hr />

			<div class="facebook-results searchData">
			</div>
		</div>
		<div id="instagram" class="searchResultList" style="display:none;">
			<div class="loader">Loading...</div>
			<img src="/assets/flickr-logo.png" class="logoResults" />

			<hr />

			<div class="instagram-results searchData">
			</div>
		</div>
		<div id="tumblr" class="searchResultList" style="display:none;">
			<div class="loader">Loading...</div>
			<img src="/assets/tumblr-logo.png" class="logoResults" />

			<hr />

			<div class="tumblr-results searchData">
			</div>
		</div>
	</div>
<% end %>
