<% content_for :main do %>
	<div class="hero-unit">
	  <h1>Welcome traveler!</h1>
	  <p>What are you waiting for? Start searching!</p>
	  	<div class="input-append">
		  <input class="span6" id="mainSearch" type="text">
		  <button class="btn" type="submit" onclick="search()">Search!</button>
		  <button class="btn" type="button" onclick="js:$('#searchOptions').toggle()">Options</button>
		</div>

		<div id="searchOptions" style="display:none;">
			<label class="checkbox">
			  <input type="checkbox" value="" name="flickr" checked>
			  Flickr
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="twitter" checked>
			  Twitter
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="youtube" checked>
			  YouTube
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="googleplus" checked>
			  Google+
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="facebook" checked>
			  Facebook
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="instagram" checked>
			  Instagram
			</label>

			<label class="checkbox">
			  <input type="checkbox" value="" name="tumblr" checked>
			  Tumblr
			</label>
		</div>
	</div>

	<div id="searchResults">
		<div id="flickr" style="display:none;">
			<img src="/assets/flickr-logo.png" class="logoResults" />

			<hr />

			<div class="flickr-results">
			</div>
		</div>
		<div id="twitter" style="display:none;">
			<img src="/assets/twitter-logo.png" class="logoResults" />

			<hr />

			<div class="twitter-results">
			</div>
		</div>
		<div id="tumblr" style="display:none;">
			<img src="/assets/tumblr-logo.png" class="logoResults" />

			<hr />

			<div class="tumblr-results">
			</div>
		</div>
		<div id="youtube" style="display:none;">
			<img src="/assets/youtube-logo.png" class="logoResults" />

			<hr />

			<div class="youtube-results">
			</div>
		</div>
		<div id="googleplus" style="display:none;">
			<img src="/assets/youtube-logo.png" class="logoResults" />

			<hr />

			<div class="googleplus-results">
			</div>
		</div>
		<div id="instagram" style="display:none;">
			<img src="/assets/instagram-logo.png" class="logoResults" />

			<hr />

			<div class="instagram-results">
			</div>
		</div>
		<div id="facebook" style="display:none;">
			<img src="/assets/facebook-logo.png" class="logoResults" />

			<hr />

			<div class="youtube-results">
			</div>
		</div>
	</div>
<% end %>
