/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= zocial.css
 */

body, html {
 	height: 100%;
}

body {
	background-color: #f5f5f5!important;
}

.navbar {
	border-radius: 0px!important;
}

.navbar-default .navbar-nav > li > a.btn {
	color: #fff;
	border-radius: 0px;
}

.navbar-inverse {
	background-color: #117864!important;
}

.container-fluid {
	background: #1abc9c;
	color: #fff;
	height: 100%;
	margin-bottom: 60px;
}

.btn-submit {
  background-color: #2980b9;
}


.notice {
  background-color: #bdc3c7;
  color: black;
  height: 60px;
}

.navbar {
  margin-bottom: 0px !important;
}
// HACK HACK HACK
.navbar-nav.navbar-right:last-child {
  margin-right: 0px !important;
}

.row {
  background-color: #1abc9c;
}
