.logoResults {
	margin-left: 20px;
	height: 70px;
	max-width: 200px;
}

#searchResults #flickr, #searchResults #twitter, #searchResults #youtube, #searchResults #tumblr, #searchResults #googleplus {
	float: left;
	width: 25%;
}

.youtube-results {
	float: left;
	width: 100%;

	ul, li {
		width: 100%;
	}
}

.flickr-results {
	float: left;
	width: 100%;
}

#searchResults ul {
	float: left;
	list-style: none;
	margin: 0px;

	.flickr-image, .tumblr-image {
		position: relative;
	}

	.flickr-content, .tumblr-content {
		background: rgba(0, 0, 0, 0.7);
		color: #fff;
		height: 100%;
		position: absolute;
		bottom: 0;
		width: 100%;

		.title {
			display: inline-block;
			font-size: 16px;
			font-weight: 500;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			margin-top: 10px;
		}

		p {
			margin: 10px;
			margin-top: 20px;
			text-align: center;
		}
	}

	li {
		clear: both;
		float: left;
		margin-bottom: 15px;
		margin: 0px 10px 10px 10px;

		img {
			width: 100%;
		}
	}

	iframe {
		width: 100%;
	}
}

#searchResults #googleplus {
	.google-profile-image {
		float: left;

		img {
			height: 50px;
			width: 50px;
		}
	}

	.google-profile-name {
		float: left;
		padding: 12px;

		a {
			font-size: 14px;
		}
	}

	.activity-header {
		float: left;

		.activity-profile-image {
			float: left;

			img {
				height: 50px;
				width: 50px;
			}
		}

		.activity-profile-name {
			float: left;
		}
	}
}
