.clear {
	clear: both;
}

.logoResults {
	margin-left: 20px;
	height: 50px;
	max-width: 200px;
}

#searchResults #flickr, #searchResults #twitter, #searchResults #youtube, #searchResults #tumblr, #searchResults #googleplus {
	float: left;
	width: 25%;
}

.searchData {
	padding: 10px;
}

.youtube-results, .flickr-results {
	float: left;
}

.youtube-results {
	width: 90%;
}

.twitter-results {
	border: 1px solid #ccc;
	float: left;
	margin-top: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.searchData {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 10px;
}

.tumblr-content-text {
	text-align: center;
	border: 1px solid black;

	.title, .tumblr-question {
		font-weight: bold;
	}

	.quote-text, .tumblr-question {
		font-style: italic;
	}
}

#searchResults ul {
	float: left;
	list-style: none;
	margin: 0px;
	width: 100%;

	.flickr-image, .tumblr-image {
		position: relative;
	}

	.flickr-content, .tumblr-content {
		background: rgba(0, 0, 0, 0.7);
		color: #fff;
		height: 100%;
		position: absolute;
		bottom: 0;
		width: 100%;

		.title {
			display: inline-block;
			font-size: 16px;
			font-weight: 500;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			margin-top: 10px;
		}

		p {
			margin: 10px;
			margin-top: 20px;
			text-align: center;
		}
	}

	li {
		clear: both;
		float: left;
		margin-bottom: 15px;
		width: 100%;

		hr {
			margin: 10px 0;
		}

		img {
			width: 100%;
		}

		.tweet-image {
			float: left;
		}

		.tweet-image {
			width: 50px;

			.tweet-profile-image {
				height: 48px;
				width: 48px;
			}
		}

		.tweet-container, .google-container {
			width: 100%;
		}

		.google-container {
			border: 1px solid #ccc;
			float: left;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
		    box-sizing: border-box;         /* Opera/IE 8+ */
		    padding: 10px;
		}

		.tweet-container {
			min-height: 50px;
		}

		.tweet-context {
			margin-left: 50px;
			padding-left: 10px;

			a:hover {
				color: #CCCCCC;
			}

			.tweet {
				h4 {
					font-size: 14px;
					font-weight: 600;
					margin: 0;
				}

				.tweet-username {
					font-size: 12px;
					font-weight: 300;
					color: #999;
				}
			}
		}
	}

	iframe {
		width: 100%;
	}
}

#searchResults #googleplus {
	.google-profile-image {
		float: left;

		img {
			height: 50px;
			width: 50px;
		}
	}

	.google-profile-name {
		float: left;
		padding: 15px;

		a {
			font-size: 14px;
		}
	}

	.activity-body {
		float: left;
		width: 100%;
		word-wrap:break-word;

		img {
			width: auto!important;
		}

		p, a {
			margin-top: 10px;
		}

		h2 {
			color: #404040;
			font-size: 16px;
			font-weight: 300;
			margin: 0;
			margin-bottom: 20px;
			line-height: 20px;
		}

		.activity-article-image {
			float: left;
			height: 120px;
			width: 120px;
		}

		.activity-article-context {

			a {
				color: #404040!important;
				font-size: 12px;
			}

			margin-left: 140px;
			min-height: 120px;
			word-wrap:break-word;
		}
	}

	.activity-header {
		float: left;
		clear: both;

		.activity-profile-image {
			float: left;

			img {
				height: 50px;
				width: 50px;
			}
		}

		.activity-profile-name {
			float: left;
			margin-left: 15px;
			margin-top: 15px;
		}
	}
}
